/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Import a nice Serif font for headings */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap');

/* =========================
   LIGHT MODE (default)
   ========================= */

:root {
  --ifm-color-primary: #2563eb;
  --ifm-color-primary-dark: #1e40af;
  --ifm-color-primary-light: #60a5fa;

  --ifm-background-color: #fafafa;
  --ifm-background-surface-color: #f8fafc;

  --ifm-font-color-base: #0f172a;
  --ifm-font-color-secondary: #475569;

  --ifm-card-background-color: #ffffff;
  --ifm-card-border: 1px solid #eaeaea;
  --ifm-card-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04);

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: 'Inter', sans-serif;  /* Clean and readable for paragraphs */
  --ifm-heading-font-family: 'Outfit', sans-serif;
}

/* =========================
   DARK MODE
   ========================= */

[data-theme='dark'] {
  --ifm-color-primary: #60a5fa;
  --ifm-color-primary-dark: #3b82f6;
  --ifm-color-primary-light: #93c5fd;

  --ifm-background-color: #000000;
  --ifm-background-surface-color: #020617;

  --ifm-font-color-title: white;
  --ifm-font-color-base: #a7a7a7;
  --ifm-font-color-secondary: #9ca3af;

  --ifm-card-background-color: #0a0a0a;
  --ifm-card-border: 1px solid #2e2e2e;
  --ifm-card-box-shadow: 0 6px 20px rgba(109, 109, 109, 0.08);




  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

