.section {
  padding: 6rem 1.5rem;
  background: black;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.heading {
  font-size: 2.25rem;
  margin-bottom: 3rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.card {
  background: rgb(37, 36, 36);
  border-radius: 16px;
  padding: 2rem;
  text-decoration: none;
  color: inherit;

  box-shadow:
    0 10px 30px rgba(158, 158, 158, 0.08);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow:
    5px 5px 5px 5px rgba(0, 253, 241, 0.12);
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
}

.card p {
  font-size: 0.95rem;
  line-height: 1.6;
  opacity: 0.85;
}
